*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Poppins,sans-serif;
}
.toptab{
    background-color: rgba(0,0,0,.851);
    padding:0 15px;
}
.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1250px;
    margin: auto;
    color: #fff;
    font-size: .8rem;
    padding: 2px 0;
    background-color: black;
}